@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap');


.nav{
    display: flex;
    overflow-x:scroll;
 

}
.nav::-webkit-scrollbar {
    display: none;
}
#text{
    margin: 10px;
    cursor: pointer;
    opacity: .65;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#text:hover{
    opacity: 1;
   
    
}